<div class="blogss">
        <div class="section-header">
            <h2 class="section-title text-center">Team</h2>
            <hr class="lines">
            <p class="section-subtitle text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>

    <p>
        <section id="blogs" class="blogs-sections">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="testimonial">
                            <div class="pic">
                                <img src="img/team/team-1.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="testimonial-content">
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi
                                    blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi
                                    nam natus perferendis possimus quasi sint sit tempora voluptatem. Est,
                                    exercitationem id ipsa ipsum laboriosam perferendis temporibus!
                                </p>
                                <h3 class="testimonial-title">Sagar Budhathoki
                                    <small class="post">Web Developer</small>
                                </h3>
                            </div>
                        </div>

                        <div class="testimonial">
                            <div class="pic">
                                <img src="img/team/team-1.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="testimonial-content">
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi
                                    blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi
                                    nam natus perferendis possimus quasi sint sit tempora voluptatem. Est,
                                    exercitationem id ipsa ipsum laboriosam perferendis temporibus!
                                </p>
                                <h3 class="testimonial-title">Sagar Budhathoki
                                    <small class="post">Web Designer</small>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <span id="moreText" class="collapse">
            <!-- ------------more additional blog here---------------- -->
            <section id="blogs" class="blogs-sections">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="testimonial">
                                <div class="pic">
                                    <img src="img/team/team-1.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="testimonial-content">
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi
                                        blanditiis consequatur debitis dicta distinctio, enim error eum iste libero
                                        modi
                                        nam natus perferendis possimus quasi sint sit tempora voluptatem. Est,
                                        exercitationem id ipsa ipsum laboriosam perferendis temporibus!
                                    </p>
                                    <h3 class="testimonial-title">Sagar Budhathoki
                                        <small class="post">Web Developer</small>
                                    </h3>
                                </div>
                            </div>

                            <div class="testimonial">
                                <div class="pic">
                                    <img src="img/team/team-1.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="testimonial-content">
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi
                                        blanditiis consequatur debitis dicta distinctio, enim error eum iste libero
                                        modi
                                        nam natus perferendis possimus quasi sint sit tempora voluptatem. Est,
                                        exercitationem id ipsa ipsum laboriosam perferendis temporibus!
                                    </p>
                                    <h3 class="testimonial-title">Rabina Karki
                                        <small class="post">Web Designer</small>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </span>
        <a id="readMore" data-toggle="collapse" href="#moreText">Read More
        </a>
    </p>






    
    <script>
            $(function () {
                $('#readMore').click(function () {
                    $(this).text(function (i, def) {
                        return def == 'Read More' ? 'Show Less' : 'Read More';
                    });
                })
    
            });
        </script>