

/* =========================css===================== */
/* font-family: 'El Messiri', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Poppins', sans-serif; */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

/*-------------------- header start from here -----------*/
/* navbar-change-color */
.custom-navbrand {
    margin-left: 2%;
    margin-right: 3%;
}

/* hover effect on dropdown */
.dropdown:hover>.dropdown-menu {
    display: block;
}

/* navbar-button */

.btn-nav {
    margin: 0 5px;
    padding: 8px 20px;
    font-size: 1em;
    border-radius: 30px;
    background: rgb(189, 34, 34);
    float: left;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    color: #fff;
}

.btn-nav:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #716bc9;
}

.collapse ul>li:hover{
    padding: 0 10px;
    font-size: 1em;
    border-radius:30px;
    background-color: #31a6ff;
    box-shadow: 0 0 12px #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.collapse ul>li a:hover{
    color:#fff;
}
 #topbar .active{
    font-size: 1em;
    border-radius:30px;
    background-color: #31a6ff;
    /* box-shadow: 0 0 12px #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; */
    color: white;
}

/* ------------------End of Navbar----------------- */







/* ----------------Blog Css-------------------- */


.testimonial {
    border-left: 3px solid #6ab33e;
    padding: 80px 0 70px 275px;
    position: relative;
    margin: 15px;
}

.testimonial:before,
.testimonial:after {
    content: "";
    width: 320px;
    height: 40px;
    border-right: 3px solid #6ab33e;
    position: absolute;
    left: 0;
}

.testimonial:before {
    border-top: 3px solid #6ab33e;
    top: 0;
}

.testimonial:after {
    border-bottom: 3px solid #6ab33e;
    bottom: 0;
}

.testimonial .pic {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
}

.testimonial .pic img {
    width: 100%;
    height: auto;
}

.testimonial .description {
    font-size: 14px;
    color: #7a7e82;
    line-height: 27px;
    position: relative;
}

.testimonial .description:before {
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: -70px;
    left: 0;
    font-size: 20px;
    color: #7a7e82;
}

.testimonial .testimonial-title {
    font-size: 22px;
    font-weight: 800;
    color: #22272c;
    text-transform: capitalize;
}




/* ----------------------------Start of Footer Section----------------------- */
footer .footer-content {
    background-color: #1a1c1d;
    padding: 60px 0;
    color: #b7c3c8;
    margin-bottom: 0;
}

.textwidget {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.textwidget p {
    color: #b7c3c8;
    font-size: 15px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.block-title {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 30px;
    padding-bottom: 25px;
    position: relative;

}

.block-title:before {
    content: "";
    height: 3px;
    width: 40px;
    background: #00cc67;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

/* copyright */
#copyright {
    background-color: #111212;
    padding: 20px 0 10px;
    color: #fff;
}

#copyright p {
    line-height: 34px;
}

#copyright p a {
    color: #00cc67;
}

#copyright p a:hover {
    color: #000ecc;
}
/* --------------------------End of Footer Section------------------ */

/* --------------------------Project Section------------------------- */

.all-project{
    padding-top: 8em;
    background: linear-gradient(113.68186833625873deg, rgb(179, 211, 206) 9.421869280746705%,rgb(180, 180, 206) 9.421869280746705%,rgb(223, 226, 199) 75.35227740666177%);
}

.section-header {
    color: #fff;
    margin-bottom: 40px;
    margin-top: 0px;
}

.section-header .section-title {
    font-size: 42px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #457B9D;
    font-family: 'El Messiri', sans-serif;
    position: relative;
}

.section-header .section-subtitle {
    margin-top: 15px;
    color: #333;
    font-size: 18px;
    font-weight: 400;
}

.section-header .lines {
    width: 150px;
    border-top: 3px solid #457B9D;
    margin-top: 10px;
}

/* ----------------Blog Section----------------------- */
.blog-class{
    margin-top: 8em;
}

.custom-button{
    margin: 0 5px;
    padding: 8px 20px;
    font-size: 1em;
    border-radius: 30px;
    background: rgb(189, 34, 34);
    float:center;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    color: #fff;
}
.custom-button:hover{
    text-decoration: none;
    color: #fff;
    box-shadow: 0 .3em 1.6em .3em #7271c2;
    transform: scale(1.2);
}








.testimonial .post {
    display: block;
    font-size: 15px;
    font-weight: 700;
    color: #6ab33e;
    margin-top: 10px;
}

