/* font-family: 'El Messiri', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Poppins', sans-serif; */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    position: relative;
}

/*-------------------- header start from here -----------*/
/* navbar-change-color */
.custom-navbrand {
    margin-left: 2%;
    margin-right: 3%;
}

.test .navbar {
    background: #4cb5f5;
    transition: 0.8s;
    -webkit-transition: s;
}

.test .navbar a {
    color: white;
}

.test .navbar .dropdown-item {
    color: #333;
}

/* hover effect on dropdown */
.dropdown:hover>.dropdown-menu {
    display: block;
}

/* navbar-button */

.btn-nav {
    margin: 0 5px;
    padding: 8px 20px;
    font-size: 1em;
    border-radius: 30px;
    background: rgb(189, 34, 34);
    float: left;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    color: #fff;
}

.btn-nav:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #716bc9;
}

.collapse ul>li:hover{
    padding: 0 10px;
    font-size: 1em;
    border-radius:30px;
    background-color: #31a6ff;
    box-shadow: 0 0 12px #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.collapse ul>li a:hover{
    color:#fff;
}
 #topbar .active{
    font-size: 1em;
    border-radius:30px;
    background-color: #31a6ff;
    /* box-shadow: 0 0 12px #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; */
    color: white;
}

/* header background */
header {
    background-image: url(../../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 60%;
}

/* typed.js */

#typed {
    color: #E52434;
    line-height: 40vh;
    font-size: 2em;
    padding-left: 40px;
}

#typed::after {
    content: '|';
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

/* custom curser animation */
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ===========================End of header section============================ */



/* -----------------------About Section----------------------- */
section {
    padding: 80px 0;
}
.about-section .section-title{
    border-left: 4px solid rgb(77, 198, 228);
    padding-left: 15px;
    font-family: 'El Messiri', sans-serif;
}
.about-section{
    margin: 0 30px;
}

.about-box {
    box-shadow: 0 0 0 5px #000000 inset;
    margin-right: 0;
    margin-top: 0;
    position: relative;
    display: block;
}

.box-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 3;
    transform: translateX(-30px) translateY(30px);
    -webkit-transform: translateX(-30px) translateY(30px)
}

.about-box .videopopup img {
    -webkit-transform: translateX(-30px) translateY(30px);
    transform: translateX(-30px) translateY(30px);
    width: 100%;
    z-index: 1;
}

.about-box .videopopup {
    position: relative;
}

.sonar-wrapper {
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: 20px;
    border: 2px solid rgb(42, 173, 190);
    border-radius: 30px;
    height: 60px;
    width: 60px;
    padding-top: 12px;
    text-align: center;
}

.custom-button{
    margin: 0 5px;
    padding: 8px 20px;
    font-size: 1em;
    border-radius: 30px;
    background: rgb(189, 34, 34);
    float: left;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    color: #fff;
}
/* ===================End Of About Section========================= */


/* -------------------Project Section--------------------- */

#project {
    background: #f5f5f2;
    padding: 40px 0px;
}

.section-header {
    color: #fff;
    margin-bottom: 40px;
    margin-top: 0px;
}

.section-header .section-title {
    font-size: 42px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #457B9D;
    font-family: 'El Messiri', sans-serif;
    position: relative;
}

.section-header .section-subtitle {
    margin-top: 15px;
    color: #333;
    font-size: 18px;
    font-weight: 400;
}

.section-header .lines {
    width: 150px;
    border-top: 3px solid #457B9D;
    margin-top: 10px;
}

.item-boxes {
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.item-boxes:hover{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.item-boxes .icon {
    width: 60px;
    height: 60px;
    text-align: center;
    border: 1px solid #f1f1f1;
    display: inline-block;
    border-radius: 30px;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
}

.item-boxes .icon i {
    font-size: 26px;
    line-height: 60px;
    color: #457B9D;
}

.item-boxes h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.item-boxes:hover .icon {
    background: #457b9d;
}

.item-boxes:hover .icon i {
    color: #fff;
}

.project-button{
    font-size: 1em;
    border-radius: 30px;
    background: #304486;
    color: #fff;
}

/* ================End Of Project Section===================== */


/* ----------------------------Team Seciton---------------------- */
.team-button {
    display: inline-block;
    /* border:solid 1px; */
    padding: 24px 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.btn-team-custom {
    margin: 0 5px;
    padding: 8px 20px;
    font-size: 1em;
    border-radius: 30px;
    background: lightseagreen;
    float: left;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    color: #fff;
}

.btn-team-custom:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #31708f;
}

/* ===========End of team-Button section=============== */

/* ---------------------Gallery Section-------------------- */
#gallery{
    background: #f5f5f2;
    margin-top: 0px;
}

#gallery .section-header .section-title{
    font-size: 42px;
    margin-top: -30px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(69, 123, 157);
    font-family: "El Messiri", sans-serif;
    position: relative;
}

.gallery-section img {
    width: 230px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 2s;
    margin-left: 15px;
}

.gallery-section img:hover {
    filter: grayscale(0);
    transform: scale(1.1)
}

/* =====================End of Gallery-section================ */

.blog-section {
    background-image: url(../../img/blog-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.heading {
    color: white;
    padding-bottom: 5px;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 45px;
    margin-bottom: 50px;
}

.block a {
    padding: 10px 25px 10px 20px;
    border-radius: 30px;
    border: 1px solid #bad6e2;
    text-decoration: none;
    background-color: #31708f;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

}

.block a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
    background: lightseagreen;
}

.block a span {
    padding-left: 15px;
    padding: auto 100px;
}

/* ==============End of blog section================ */

/* -----------------Sponsors Section----------------- */

.logo-img{
     height: 10em;
     width: 10em;
     margin: auto;
     opacity: 0.5;
}

.carousel-control-prev{
    left: -50px;
}
.carousel-control-next{
right: -50px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 40px;
  width: 40px;
  outline: rgb(49, 51, 143);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 2px solid rgb(49, 51, 143);
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: red;
}
/* ============End of Sponsors section===================== */


/* ---------------------Footer Section------------------------- */

footer .footer-content {
    background-color: #1a1c1d;
    padding: 60px 0;
    color: #b7c3c8;
    margin-bottom: 0;
}

.textwidget {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.textwidget p {
    color: #b7c3c8;
    font-size: 15px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.block-title {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 30px;
    padding-bottom: 25px;
    position: relative;

}

.block-title:before {
    content: "";
    height: 3px;
    width: 40px;
    background: #00cc67;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

/* copyright */
#copyright {
    background-color: #111212;
    padding: 20px 0 10px;
    color: #fff;
}

#copyright p {
    line-height: 34px;
}

#copyright p a {
    color: #00cc67;
}

#copyright p a:hover {
    color: #000ecc;
}
/* ============================================ */

/* ----------------Scroll Up------------------------- */
.scrollup{
    position: fixed;
    bottom: 90px;
    right: 60px;
    color: rgb(214, 30, 30);
    text-align: center; 
    display: hidden; 
}

